.loginBox {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.login {
  margin-left: 10px;
  cursor: pointer;
}
.imgBox {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.imgBox img {
  cursor: pointer;
}
.menuList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.menuList li {
  margin: 10px;
  cursor: pointer;
}
.menuList li:hover {
  text-decoration: underline;
}
.searchBox {
  display: flex;
  justify-content: flex-end;
}
.searchBorder {
  border-bottom: 1px solid black;
}
.searchBorder input {
  margin: 5px;
  border: none;
}
.searchBorder input:focus {
  outline: none;
}
.productCard {
  border: none !important;
}
.productCard:hover {
  transform: scale(1.1);
  z-index: 1;
}
.card-img{
  border-radius: 0px !important;
}
.subText {
  font-size: 0.8rem;
}
.loginForm {
  width: 600px;
}
.centerForm {
  display: flex;
  justify-content: center;
}
.addBtn {
  width: 100%;
  margin-bottom: 15px;
}
.pdPrice {
  font-weight: 500;
  font-size: 1.2em;
}
.pdTitle {
  font-weight: 500;
  font-size: 1.4em;
}
.pdImg {
  display: flex;
  justify-content: flex-end;
}
.card-body {
  padding: 0px !important;
}

@media screen and (max-width: 768px){
  .pdImg {
    display: flex;
    justify-content: center;
  }
  .searchBox{
    display: none;
  }
}